{{ define "posts-list" }}
<div id="posts-list">
    {{ range . }}
    <div class=" max-h-5 cursor-pointer flex justify-center items-center group-hover:justify-between" hx-get="/post?id={{ .Id.Hex }}" hx-target="#read-post" hx-swap="outerHTML">
        <img src="/uploads/{{ .CoverImage }}" alt="post cover image" class="size-12 rounded-lg"/>
        <p class="h-0 w-0 overflow-hidden invisible opacity-0 whitespace-pre-line ml-1 transition-visibility ease-in-out duration-300 delay-300 group-hover:h-auto group-hover:w-full group-hover:opacity-100 group-hover:visible">{{ .Title }}</p>
    </div>
    {{ end }}
</div>
{{ end }}
