{{ define "home" }}
            <section class="section">
                <p class="my-5">Welcome to my corner of the web!</p>
                <p class="my-5">I'm a seasoned full stack developer specializing in <b>.NET environments, MVP development, and enterprise software solutions.</b></p>
                <p class="my-5">With expertise in front-end frameworks like <b>Angular</b> and <b>React</b>, coupled with proficiency in creating microservices and <b>Golang</b> scripting for backend tasks, I bring a comprehensive skill set to every project.</p><p>Whether you're looking to build robust enterprise applications or streamline your development process, I'm here to turn your vision into reality.</p>
                <p class="my-5">Explore my portfolio and let's discuss how we can elevate your next digital endeavor.</p>
            </section>
            <section class="section">
                <h2 class="text-lg text-left w-full font-bold underline">Portfolio</h2>
                <div class="grid grid-cols-2 w-full">
                    <div class="row">
                        <div class="col-span-1">
                        </div>
                        <div class="col-span-1">
                        </div>
                    </div>
                </div>
            </section>
{{end}}
