{{ define "post-card" }}
<div class="flex font-sans cursor-pointer transition ease-in-out duration-100 mb-5 mt-0 scale-100 hover:scale-110 hover:mb-8 hover:mt-3" hx-get="/post?id={{ .Id }}" hx-target="#posts" hx-swap="outerHTML">
    <div class="flex-none w-56 relative before:rounded-lg before:top-1 before:left-1 before:w-full before:h-full before:absolute before:bg-sky-400">
        <img src="/uploads/{{ .CoverImage }}.png" alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" lazy-loading="true" />
    </div>
    <form class="flex-auto p-6 flex flex-col">
        <div class="flex flex-wrap">
            <h1 class="flex-auto text-3xl font-bold text-sky-600">
                {{ .Title }}
            </h1>
            <div class="text-sm font-medium text-slate-400">
                {{ .MainFormatDate }}
            </div>
        </div>
        <div class="flex-grow">
            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                <div class="space-x-2 flex text-sm font-bold">
                    <p>{{ .Synopsys }}</p>
                </div>
            </div>
        </div>
        <div class="mt-auto flex space-x-4 mb-5 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-full bg-sky-600 text-white" type="submit">
                    Read
                </button>
            </div>
            {{ template "like-button" . }}
        </div>
    </form>
</div>
{{ end }}

