{{ define "read-post" }}
<section class="section" id="read-post">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-12">
            <div class="h-auto col-span-12">
                <h1>{{ .Post.Title }}</h1>
                <h5 class="text-gray-400">... {{ .Post.Synopsys }}</h5>
            </div>
        </div>
        <div class="col-span-12 h-auto">
            <div class="col-span-12">
                <div class="grid grid-cols-12">
                    <div class="col-span-1 flex justify-center items-center before:bg-sky-400 before:absolute before:rounded-full before:left-1 before:top-1">
                        <img src="dist/profile.jpg" class="rounded-full size-12" alt="profile picture">
                    </div>
                    <div class="col-span-11 flex flex-col justify-start items-around">
                        <small>vinny-pereira</small>
                        <small>{{ .Post.MainFormatDate }}</small>
                    </div>
                </div>
                <div class="flex justify-between items-center mt-5 border-y-2">
                    <div class="flex justify-center items-center py-5 gap-4">
                        {{ template "like-button" .Post }}
                        <div>
                            <i class="fa-regular fa-comment"></i><small class="ml-2">{{ .Post.Comments }}</small>
                        </div>
                    </div>
                    <div class="flex justify-center items-center py-5 gap-6">
                        <strong class="text-sky-600">Share:</strong>
                        <div class="flex justify-center items-center gap-2">
                            <a href="https://twitter.com/share?url=vinny-pereira.io/post?id={{ .Post.Id.Hex }}>" target="_blank" class="cursor-pointer"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=vinny-pereira.io/post?id={{ .Post.Id.Hex }}" target="_blank" class="cursor-pointer"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=vinny-pereira.io/post?id={{ .Post.Id.Hex }}" target="_blank" class="cursor-pointer"><i class="fa-brands fa-facebook fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 h-auto">
            <div class="col-span-12">
                <div class="markdown">
                    {{ .MarkDown }}    
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

